            .custom-bg {
                background: #00BFFF!important;
            }
            
            body {
                background: #ffffff;
            }
            
            .list-group-item.active {
                z-index: 2;
                color: black;
                background: #00BFFF!important;
                border-color: #00BFFF;
            }
            
            .discount-label {
                font-size: 10px !important;
                font-style: italic !important;
            }